label{
    display: inline-block;
    margin: 15px 0;
}

input{
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 5px;
    display: block;
    padding: 10px;
    width: 100%;
}

input:focus{
    outline: none;
}

.btn {
    font-size: 16px;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: capitalize;
    width: 100%;
    margin-top: 10px;
}