@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body{
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container{
  margin: 30px auto;
  width: 350px;
}

.main-container{
  border: 3px solid rgb(66, 66, 66);
  border-radius: 10px;
  padding: 20px;
}

.horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(66, 66, 66);
  text-align: center;
  border-radius: 5px;
  
}

.horizontal-menu li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.horizontal-menu a{
  color: white;
  text-decoration: none;
  padding: 16px;
  display: block;
}
